<?xml version="1.0" encoding="UTF-8"?>
<!-- Silent installer option: -mode=silent -silent_xml=/home/me/silent.xml -->
<domain-template-descriptor> 

<input-fields> 
   <data-value name="BEAHOME" value="<%= @ora_home %>"/> 
   <data-value name="WLS_INSTALL_DIR" value="<%= @wls_home %>"/> 
   <data-value name="OCP_INSTALL_DIR" value="<%= @coherence_home %>"/> 
   <data-value name="COMPONENT_PATHS"
        value="WebLogic Server/Core Application Server|WebLogic Server/Administration Console|WebLogic Server/Configuration Wizard and Upgrade Framework|WebLogic Server/Web 2.0 HTTP Pub-Sub Server|WebLogic Server/WebLogic JDBC Drivers|WebLogic Server/Third Party JDBC Drivers|WebLogic Server/WebLogic Server Clients|WebLogic Server/WebLogic Web Server Plugins|WebLogic Server/UDDI and Xquery Support|Oracle Coherence/Coherence Product Files" />
       <data-value name="INSTALL_NODE_MANAGER_SERVICE" value="yes" />
       <data-value name="NODEMGR_PORT" value="5556" />
	   <data-value name="LOCAL_JVMS" value="/usr/java/jdk1.6.0_60"/>
</input-fields> 
</domain-template-descriptor>